/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    /*max-width: 46rem;*/
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.pay-success{ color: blue;}
.pay-unsuccess{ color:black;}
.pay-error{ color:red;}
.footer{text-align:center}
/* Pager */
.pager
{
	margin: 8px 3px;
	padding: 3px;
}

.pager .disabled
{
	border: 1px solid #ddd;
	color: #999;
	margin-top: 4px;
	padding: 3px;
	text-align: center;
}

.pager .current
{
	background-color: #6ea9bf;
	border: 1px solid #6e99aa;
	color: #fff;
	font-weight: bold;
	margin-top: 4px;
	padding: 3px 5px;
	text-align: center;
}

.pager span, .pager a
{
	margin: 4px 3px;
}

.pager a
{
	border: 1px solid #aaa;
	padding: 3px 5px;
	text-align: center;
	text-decoration: none;
}