<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title, modal_out, modal_in, handheld, main)" ng-app="app">

<head>
    <title th:replace="${title}">title</title>
    <th:block th:include="components/header.html :: header"></th:block>
</head>

<body class="handheld-toolbar-enabled" ng-controller="mainCtrl">
    <!-- Sign in / sign up modal-->
    <th:block th:replace="components/modal/signin_signup.html :: modal"></th:block>
    <th:block th:replace="${modal_out} ?: ~{}"></th:block>
    <main class="page-wrapper">
        <th:block th:replace="${modal_in} ?: ~{}"></th:block>
        <!-- Navbar Store-->
        <th:block th:replace="components/navigation_header.html :: menu"></th:block>
        <article th:insert="${main} ?: ~{}" th:remove="tag">
        </article>
    </main>
    

    <!-- Footer-->
    <th:block th:replace="components/footer.html :: footer"></th:block>
    <th:block th:replace="${handheld} ?: ~{}"></th:block>
    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2"></span><i class="btn-scroll-top-icon ci-arrow-up"></i></a>
    <th:block th:include="components/scripts.html :: scripts"></th:block>
</body>

</html>