<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 fw-bold text-uppercase text-primary fw-bold">Quản lý sản phẩm</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a class="text-decoration-none" [routerLink]="['/']" routerLinkActive="router-link-active">Trang chủ</a>
          </li>
          <li class="breadcrumb-item active">Sản phẩm</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card border-primary">
      <div class="card-header">
        <div class="row g-2">
          <!-- Filter - Start -->
          <div class="col-auto">
            <label for="filter-active" class="col-form-label">Trạng thái:</label>
          </div>
          <div class="col-md-auto col-sm-12 mt-0 mt-md-2">
            <select id="filter-active" class="form-select" [(ngModel)]="isActive" (change)="filter()">
              <option [ngValue]="true">Hoạt động</option>
              <option [ngValue]="false">Chưa kích hoạt</option>
            </select>
          </div>
          <div class="col-md-auto col-sm-12">
            <label for="filter-category" class="col-form-label">Danh mục:</label>
          </div>
          <div class="col-md-auto col-sm-12 mt-0 mt-md-2">
            <select id="filter-category" class="form-select" [(ngModel)]="category_id_filter" (change)="filter()">
              <option [ngValue]="null">Tất cả</option>
              <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
            </select>
          </div>
          <!-- Filter - End -->
          <div class="col d-flex align-items-center justify-content-center justify-content-md-end">
            <button type="button" class="btn bg-faded-accent w-sm-100 rounded-pill" (click)="newProduct()"
                    placement="left"
                    tooltip="Thêm">
              <i class="fas fa-plus text-accent d-none d-md-inline-block"></i>
              <span class="d-block text-accent d-inline-block d-md-none">Thêm danh mục</span>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive p-3">
          <table datatable [dtOptions]="dtOptions" class="table table-hover table-sm nowrap w-100">
            <thead class="table-primary">
            <tr>
              <th class="align-middle">Ảnh</th>
              <th class="align-middle">Tên</th>
              <th class="align-middle text-center">Thương hiệu</th>
              <th class="align-middle text-center">Danh mục</th>
              <th class="align-middle text-center">Giá</th>
              <th class="align-middle text-center">Ngày cập nhật</th>
              <th class="align-middle text-center">Cập nhật bởi</th>
              <th class="align-middle text-end">Thao tác</th>
            </tr>
            </thead>
            <tbody *ngIf="products?.length !== 0">
            <tr *ngFor="let item of products; let i = index">
              <td class="align-middle">
                <img src="{{getImageSrc(item.image)}}" class="img-thumbnail"
                     style="max-width:70px; height: 70px" alt="product-thumbnail">
              </td>
              <td class="align-middle">
                {{ item.name }}
              </td>
              <td class="align-middle text-center">
                {{ item.brand.name }}
              </td>
              <td class="align-middle text-center">
                {{ item.subCategory.name }}
              </td>
              <td class="align-middle text-center">
                {{ item.price | currency:'VND' }}
              </td>
              <td class="align-middle text-center">
                {{ item.modifiedAt | date:'dd/MM/yyyy' }}
              </td>
              <td class="align-middle text-center">
                {{ item.modifiedBy }}
              </td>
              <td class="align-middle text-end">
                <div *ngIf="isActive" class="d-flex align-items-center justify-content-end">
                  <button type="button" class="btn btn-sm bg-faded-info me-1" placement="top" tooltip="Sửa"
                          (click)="editProduct(item.id)">
                    <i class="fas fa-pen-square text-info"></i>
                  </button>
                  <button type="button" class="btn btn-sm bg-faded-danger" (click)="deleteProduct(item.id)"
                          placement="top" tooltip="Xoá" container="body">
                    <i class="fas fa-trash text-danger"></i>
                  </button>
                </div>
                <div *ngIf="!isActive">
                  <button type="button" class="btn btn-sm bg-success" (click)="activeProduct(item.id)">
                    Kích hoạt
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="products?.length === 0">
            <tr>
              <td colspan="8" class="text-center">Không tìm thấy kết quá</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal - Start -->
<div bsModal #productModal="bs-modal" class="modal" tabindex="-1" data-bs-focus="false"
     role="dialog" aria-labelledby="product-dialog-sizes">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="product-dialog-sizes" class="modal-title pull-left text-primary fw-bold">
          {{ isEdit ? 'Cập nhật' : 'Thêm' }} sản phẩm
        </h4>
        <button type="button" class="btn-close close pull-right"
                (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #productForm="ngForm" enctype="multipart/form-data">
          <div class="row">
            <div class="col-12 col-lg-4">
              <div class="col-12 mb-3">
                <label class="form-label" for="name">Tên</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="product.name"
                       #name="ngModel" (keyup)="product.slug=toSlug(product.name)" required/>
                <div class="invalid-feedback" *ngIf="name.invalid && (name.dirty || name.touched)">
                  <span *ngIf="name.errors?.required">Vui lòng nhập tên</span>
                </div>
              </div>
              <div class="col-12 mb-3">
                <label class="form-label" for="slug">Slug</label>
                <input type="text" class="form-control" id="slug" name="slug" [(ngModel)]="product.slug"
                       #slug="ngModel" required/>
                <div class="invalid-feedback" *ngIf="slug.invalid && (slug.dirty || slug.touched)">
                  <span *ngIf="slug.errors?.required">Vui lòng nhập slug sản phẩm</span>
                </div>
              </div>
              <div class="col-12 mb-3">
                <label class="form-label" for="brand">Thương hiệu</label>
                <select class="form-control" id="brand" name="brand" [(ngModel)]="product.brand"
                        [compareWith]="compareFn" #brand="ngModel" required>
                  <option value="">-- Chọn thương hiệu --</option>
                  <option *ngFor="let item of brands" [ngValue]="item">{{ item.name }}</option>
                </select>
                <div class="invalid-feedback" *ngIf="brand.invalid && (brand.dirty || brand.touched)">
                  <span *ngIf="brand.errors?.required">Vui lòng chọn thương hiệu</span>
                </div>
              </div>
              <div class="col-12 mb-3">
                <label class="form-label" for="category">Danh mục cha</label>
                <select class="form-control" id="category" name="category" [(ngModel)]="category"
                        #categoryEdit="ngModel" [compareWith]="compareFn"
                        (change)="getSubcategoriesByCategory()" required>
                  <option value="">-- Chọn danh mục --</option>
                  <option *ngFor="let item of categories" [ngValue]="item">{{ item.name }}</option>
                </select>
                <div class="invalid-feedback"
                     *ngIf="categoryEdit.invalid && (categoryEdit.dirty || categoryEdit.touched)">
                  <span *ngIf="categoryEdit.errors?.required">Vui lòng chọn danh mục</span>
                </div>
              </div>
              <div class="col-12 mb-3" *ngIf="product.subCategory">
                <label class="form-label" for="subCategory">Danh mục con</label>
                <select class="form-control" id="subCategory" name="subCategory"
                        [(ngModel)]="product.subCategory" #subCategory="ngModel"
                        [disabled]="category.id === null" [compareWith]="compareFn" required>
                  <option value="">-- Chọn danh mục con --</option>
                  <option *ngFor="let item of subcategories" [ngValue]="item">{{ item.name }}</option>
                </select>
                <div class="invalid-feedback"
                     *ngIf="subCategory.invalid && (subCategory.dirty || subCategory.touched)">
                  <span *ngIf="subCategory.errors?.required">Vui lòng chọn danh mục con</span>
                </div>
              </div>
              <div class="col-12 mb-3">
                <label for="price" class="form-label">Giá</label>
                <input class="form-control" id="price" name="price" type='text' mask="separator" thousandSeparator="."
                       suffix=" VNĐ" [(ngModel)]="product.price" #price="ngModel" required/>
                <div class="invalid-feedback"
                     *ngIf="price.invalid && (price.dirty || price.touched)">
                  <span *ngIf="price.errors?.required">Vui lòng nhập giá</span>
                </div>
              </div>
              <div class="col-12 mb-3">
                <label for="quantity" class="form-label">Số lượng</label>
                <input class="form-control" id="quantity" type='text' mask="separator" name="quantity"
                       thousandSeparator="." [(ngModel)]="product.quantity" #quantity="ngModel"
                       required/>
                <div class="invalid-feedback"
                     *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)">
                  <span *ngIf="quantity.errors?.required">Vui lòng nhập số lượng</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-8">
              <div class="row mb-3">
                <div class="col-12 col-md-6 mb-3 mb-md-0 file-drop-area">
                  <img class="img-fluid img-thumbnail" alt="Product"
                       [src]="getImageSrc(product.image)">
                  <input type="file" name="image" id="image" class="file-drop-input"
                         (change)="onFileChanged($event)">
                </div>
                <div class="col-12 col-md-6">
                  <div class="row row-cols-2 g-3">
                    <div class="col">
                      <a href="javascript:void(0)">
                        <img class="img-fluid img-thumbnail" alt="Product"
                             [src]="getImageSrc(product.productThumbnails[0]?.thumbnail)">
                      </a>
                    </div>
                    <div class="col">
                      <a href="javascript:void(0)">
                        <img class="img-fluid img-thumbnail" alt="Product"
                             [src]="getImageSrc(product.productThumbnails[1]?.thumbnail)">
                      </a>
                    </div>
                    <div class="col">
                      <a href="javascript:void(0)">
                        <img class="img-fluid img-thumbnail" alt="Product"
                             [src]="getImageSrc(product.productThumbnails[2]?.thumbnail)">
                      </a>
                    </div>
                    <div class="col">
                      <a href="javascript:void(0)">
                        <img class="img-fluid img-thumbnail" alt="Product"
                             [src]="getImageSrc(product.productThumbnails[3]?.thumbnail)">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mb-3">
                <label class="form-label">Thông số kỹ thuật</label>
                <app-ckeditor [id]="'spec'" [name]="'spec'"
                              [(ngModel)]="product.spec"></app-ckeditor>
              </div>
              <div class="col-12 mb-3">
                <label class="form-label">Mô tả</label>
                <app-ckeditor [id]="'description'" [name]="'description'"
                              [(ngModel)]="product.description"></app-ckeditor>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="saveProduct(product)">Lưu</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal - End -->
