<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-uppercase text-primary">Quản lý sản phẩm</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a class="text-decoration-none" [routerLink]="['/']" routerLinkActive="router-link-active">Trang chủ</a>
          </li>
          <li class="breadcrumb-item active">Sản phẩm</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card border-primary">
      <div class="card-header">
        <div class="row g-2">
          <!-- Filter - Start -->
          <div class="col-auto">
            <label for="filter-active" class="col-form-label">Trạng thái:</label>
          </div>
          <div class="col-md-auto col-sm-12 mt-0 mt-md-2">
            <select id="filter-active" class="form-select" [(ngModel)]="isActive" (change)="filter()">
              <option [ngValue]="true">Hoạt động</option>
              <option [ngValue]="false">Chưa kích hoạt</option>
            </select>
          </div>
          <div class="col-md-auto col-sm-12">
            <label for="filter-category" class="col-form-label">Danh mục cha:</label>
          </div>
          <div class="col-md-auto col-sm-12 mt-0 mt-md-2">
            <select id="filter-category" class="form-select" [(ngModel)]="categoryId" (change)="filter()">
              <option [ngValue]="null">Tất cả</option>
              <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
            </select>
          </div>
          <!-- Filter - End -->
          <div class="col d-flex align-items-center justify-content-center justify-content-md-end">
            <button type="button" class="btn bg-faded-accent w-sm-100 rounded-pill" (click)="newProduct()"
                    placement="left"
                    tooltip="Thêm">
              <i class="fas fa-plus text-accent d-none d-md-inline-block"></i>
              <span class="d-block text-accent d-inline-block d-md-none">Thêm danh mục</span>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive p-3">
          <table datatable [dtOptions]="dtOptions" class="table table-hover table-sm nowrap w-100">
            <thead class="table-primary">
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<app-ckeditor></app-ckeditor>-->
<!-- Modal -->
<ng-template #productModal let-c="close" let-d="dismiss" tabindex="-1" data-bs-focus="false" >
  <div class="modal-header">
    <h4 class="modal-title text-primary" id="modal-basic-title">
      {{ isEdit ? 'Cập nhật' : 'Thêm' }} sản phẩm
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #productForm="ngForm">
      <div class="row">
        <div class="col-12 mb-3">
          <label class="form-label" for="name">Tên</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="product.name"
                 #name="ngModel" required/><!--oninput="this.value = Math.abs(this.value)"-->
          <div class="invalid-feedback" *ngIf="name.invalid && (name.dirty || name.touched)">
            <span *ngIf="name.errors?.required">Vui lòng nhập tên</span>
          </div>
        </div>
        <div class="col-12 mb-3">
          <label class="form-label">Mô tả</label>
          <app-ckeditor></app-ckeditor>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-primary"
            (click)="saveProduct(product); c('Save click')"
            [disabled]="productForm.invalid">
      Lưu
    </button>
  </div>
</ng-template>
