<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 fw-bold text-uppercase text-primary">Danh mục chính</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a class="text-decoration-none" [routerLink]="['/']" routerLinkActive="router-link-active">Trang chủ</a>
          </li>
          <li class="breadcrumb-item active">Danh mục chính</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card border-primary">
      <div class="card-header">
        <div class="row g-2">
          <div class="col-auto">
            <label for="filter-category" class="col-form-label">Trạng thái:</label>
          </div>
          <div class="col-auto">
            <select id="filter-category" class="form-select" [(ngModel)]="isActive" (change)="filter()">
              <option [ngValue]="true">Hoạt động</option>
              <option [ngValue]="false">Chưa kích hoạt</option>
            </select>
          </div>
          <div class="col d-flex align-items-center justify-content-end">
            <button type="button" class="btn bg-faded-accent rounded-pill" (click)="newCategory()" placement="left"
              tooltip="Thêm">
              <i class="fas fa-plus text-accent"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive p-3">
          <table datatable [dtOptions]="dtOptions" class="table table-hover table-sm dt-responsive nowrap w-100">
            <thead class="table-primary">
              <tr>
                <th class="align-middle">Tên</th>
                <th class="align-middle">Slug</th>
                <th class="align-middle">Mô tả</th>
                <th class="align-middle text-center">Ngày cập nhật</th>
                <th class="align-middle text-end">Công cụ</th>
              </tr>
            </thead>
            <tbody *ngIf="categories?.length !== 0">
            <tr *ngFor="let item of categories; let i = index">
              <td class="align-middle">
                {{ item.name }}
              </td>
              <td class="align-middle">
                {{ item.slug }}
              </td>
              <td class="align-middle">
                {{ item.description }}
              </td>
              <td class="align-middle text-center">
                {{ item.modifiedAt | date: 'dd/MM/yyyy' }}
              </td>
              <!--<td class="align-middle text-center">
                {{ item.modifiedBy }}
              </td>-->
              <td class="align-middle text-end">
                <div *ngIf="isActive" class="d-flex align-items-center justify-content-end">
                  <button type="button" class="btn btn-sm bg-faded-info me-1" placement="top" tooltip="Sửa"
                          (click)="getCategory(item.id)">
                    <i class="fas fa-pen-square text-info"></i>
                  </button>
                  <button type="button" class="btn btn-sm bg-faded-danger" (click)="deleteCategory(item.id)"
                          placement="top" tooltip="Xoá" container="body">
                    <i class="fas fa-trash text-danger"></i>
                  </button>
                </div>
                <div *ngIf="!isActive">
                  <button type="button" class="btn btn-sm bg-success" (click)="activeCategory(item.id)">
                    Kích hoạt
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="categories?.length === 0">
            <tr>
              <td colspan="5" class="text-center">Không tìm thấy kết quá</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal -->
<div bsModal #categoryModal="bs-modal" class="modal fade" tabindex="-1" data-bs-focus="false" role="dialog"
  aria-labelledby="category-dialog-sizes">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="category-dialog-sizes" class="modal-title pull-left text-primary fw-bold">
          {{ isEdit ? 'Cập nhật' : 'Thêm' }} danh mục
        </h4>
        <button type="button" class="btn-close close pull-right" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #categoryForm="ngForm">
          <div class="row">
            <div class="col-6 mb-3">
              <label class="form-label" for="name">Tên</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="category.name"
                (keyup)="category.slug = toSlug(category.name)" #name="ngModel" required />
              <div class="invalid-feedback" *ngIf="name.invalid && (name.dirty || name.touched)">
                <span *ngIf="name.errors?.['required']">Vui lòng nhập tên</span>
              </div>
            </div>
            <div class="col-6 mb-3">
              <label class="form-label" for="slug">Slug</label>
              <input type="text" class="form-control" id="slug" name="slug" [(ngModel)]="category.slug" #slug="ngModel"
                required />
              <div class="invalid-feedback" *ngIf="slug.invalid && (slug.dirty || slug.touched)">
                <span *ngIf="slug.errors?.['required']">Vui lòng nhập slug</span>
              </div>
            </div>
            <div class="col-12 mb-3">
              <label for="description" class="form-label">Mô tả</label>
              <textarea class="form-control" id="description" rows="4" name="description"
                [(ngModel)]="category.description" #description="ngModel"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" [disabled]="categoryForm.invalid"
          (click)="saveCategory(category);">Lưu</button>
      </div>
    </div>
  </div>
</div>
