<!-- Brand Logo -->
<a [routerLink]="['/']" class="brand-link border-bottom-0">
    <img
        src="assets/images/logo/logo-icon.png"
        alt="Deskover"
        class="brand-image img-circle elevation-3"
        style="opacity: 0.8"
    />
    <span class="brand-text text-center">
      <img src="assets/images/logo/logo.png" width="200" class="img-fluid" alt="logo">
    </span>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2" style="overflow-y: hidden">
        <ul
            class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false"
        >
            <app-menu-item
                *ngFor="let item of menu"
                [menuItem]="item"
            ></app-menu-item>
          <li class="nav-item position-absolute" style="bottom: 0.5rem">
            <a class="nav-link" href="javascript:void(0)" (click)="logout()">
              <i class="nav-icon fa-solid fa-arrow-right-from-bracket"></i>
              <p>Đăng xuất</p>
            </a>
          </li>
        </ul>
    </nav>
</div>
