<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-uppercase text-primary">Quản lý khuyến mãi</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a class="text-decoration-none" [routerLink]="['/']" routerLinkActive="router-link-active">Trang chủ</a>
          </li>
          <li class="breadcrumb-item active">Khuyến mãi</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card border-primary">
      <div class="card-header">
        <div class="row g-2">
          <div class="col-auto">
            <label for="filter-discount" class="col-form-label">Trạng thái:</label>
          </div>
          <div class="col-auto">
            <select id="filter-discount" class="form-select" [(ngModel)]="isActive"
                    (change)="filter()">
              <option [ngValue]="true">Hoạt động</option>
              <option [ngValue]="false">Chưa kích hoạt</option>
            </select>

          </div>
          <div class="col d-flex align-items-center justify-content-end">
            <button type="button" class="btn btn-sm bg-faded-accent" (click)="newDiscount()" placement="left"
                    ngbTooltip="Thêm">
              <i class="fas fa-plus text-accent"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body p-3">
        <table datatable [dtOptions]="dtOptions" class="table table-hover table-sm w-100">
          <thead class="table-primary"></thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- Modal -->
<ng-template #discountModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-danger" id="modal-basic-title">
      {{ isEdit ? 'Cập nhật' : 'Thêm' }} khuyến mãi
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #discountForm="ngForm">
      <div class="row">
        <div class="col-12 mb-3">
          <label class="form-label" for="name">Tên</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="discount.name"
                 #name="ngModel" required
          /><!--oninput="this.value = Math.abs(this.value)"-->
          <div class="invalid-feedback" *ngIf="name.invalid && (name.dirty || name.touched)">
            <span *ngIf="name.errors?.required">Vui lòng nhập tên</span>
          </div>
        </div>
        <div class="col-12 mb-3">
          <label class="form-label" for="percent">Mức giảm giá</label>
          <!--oninput="this.value = Math.abs(this.value)"-->
          <input type="number" min="0" max="100" class="form-control" id="percent" name="percent"
                 [(ngModel)]="discount.percent" #percent="ngModel" required
          />
          <div class="invalid-feedback" *ngIf="percent.invalid && (percent.dirty || percent.touched)">
            <span *ngIf="percent.errors?.required">Vui lòng nhập mức giảm giá</span>
            <span *ngIf="percent.errors?.min || percent.errors?.max">Mức giảm giá không hợp lệ (0-100)</span>
          </div>
        </div>
        <div class="col-12 mb-3">
          <label for="description" class="form-label">Mô tả</label>
          <textarea class="form-control" id="description" rows="4" name="description"
                    [(ngModel)]="discount.description" #description="ngModel"></textarea>

        </div>
        <div class="col-12 mb-3">
          <label class="form-label" for="discountTime">Thời gian khuyến mãi</label>
          <input type="text" id="discountTime" name="discountTime" placeholder="Ngày bắt đầu - Ngày kết thúc"
                 class="form-control" [bsConfig]="bsConfig" #discountTime="bsDaterangepicker" bsDaterangepicker
                 [(ngModel)]="bsRangeValue">
          <pre>{{ bsRangeValue }}</pre>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-danger"
            (click)="saveDiscount(discount); c('Save click')"
            [disabled]="discountForm.invalid">
      Lưu
    </button>
  </div>
</ng-template>
