<!-- Order Details Modal-->
<div class="modal fade" id="order-details" th:fragment="modal">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Đơn hàng số [[${od.id}]]</h5>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body pb-0">
              <!-- Item-->
              <div class="d-sm-flex justify-content-between mb-4 pb-3 pb-sm-2 border-bottom" th:each="i: ${od.items}">
                  <div class="d-sm-flex text-center text-sm-start"><a class="d-inline-block flex-shrink-0 mx-auto" href="shop-single-v1.html" style="width: 10rem;"><img th:src="@{'/img/shop/products/' + ${i.item.imgUrl}}" alt="Product"></a>
                      <div class="ps-sm-4 pt-2">
                          <h3 class="product-title fs-base mb-2"><a href="shop-single-v1.html">[[${i.item.name}]]</a></h3>
                          <div class="fs-sm"><span class="text-muted me-2">[[${i.item.category}]]</span></div>
                          <div class="fs-lg text-accent pt-2">[[${#numbers.formatInteger(i.price,3,'COMMA')}]]<small> VND</small></div>
                      </div>
                  </div>
                  <div class="pt-2 ps-sm-3 mx-auto mx-sm-0 text-center">
                      <div class="text-muted mb-2">Số lượng:</div> [[${i.quantity}]]
                  </div>
                  <div class="pt-2 ps-sm-3 mx-auto mx-sm-0 text-center">
                      <div class="text-muted mb-2">Tông tiền</div>[[${#numbers.formatInteger(i.price*i.quantity,3,'COMMA')}]]<small> VND</small>
                  </div>
              </div>
          </div>
          <!-- Footer-->
          <div class="modal-footer flex-wrap justify-content-between bg-secondary fs-md">
          </div>
      </div>
  </div>
</div>