<!-- Quick View Modal-->
<div class="modal-quick-view modal fade" id="quick-view" tabindex="-1" th:fragment="modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title product-title"><a href="/shop/item?p={{shop.item.slug}}" data-bs-toggle="tooltip" data-bs-placement="right" title="Tới trang chi tiết">{{shop.item.name}}<i class="ci-arrow-right fs-lg ms-2"></i></a></h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- Product gallery-->
                    <div class="col-lg-7 pe-lg-0">
                        <div class="product-gallery">
                            <div class="product-gallery-preview order-sm-2">
                                <div class="product-gallery-preview-item active" id="first">
                                    <img class="image-zoom" src="{{shop.item.imgUrl}}" data-zoom="{{shop.item.imgUrl}}" alt="Image">
                                    <div class="image-zoom-pane"></div>
                                </div>
                                <div class="product-gallery-preview-item" id="a{{$index+1}}" ng-repeat="image in shop.item.thumbsnails track by $index" repeat-directive-quickview>
                                    <img class="image-zoom" src="{{image}}" data-zoom="{{image}}" alt="Image">
                                    <div class="image-zoom-pane"></div>
                                </div>
                            </div>
                            <div class="product-gallery-thumblist order-sm-1">
                                <a class="product-gallery-thumblist-item active" href="#first">
                                    <img src="{{shop.item.imgUrl}}" alt="Product thumb">
                                </a>
                                <a class="product-gallery-thumblist-item" href="#a{{$index+1}}" ng-repeat="image in shop.item.thumbsnails track by $index" repeat-directive-quickview>
                                    <img src="{{image}}" alt="Product thumb">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Product details-->
                    <div class="col-lg-5 pt-4 pt-lg-0 image-zoom-pane">
                        <div class="product-details ms-auto pb-3">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <a href="shop-single-v1.html#reviews">
                                    <div class="star-rating">
                                        <i class="star-rating-icon ci-star-filled active" ng-repeat="p in [].constructor(shop.item.averageRating) track by $index"></i>
                                        <i class="star-rating-icon ci-star" ng-repeat="p in [].constructor(5-shop.item.averageRating) track by $index"></i>
                                    </div><span class="d-inline-block fs-sm text-body align-middle mt-1 ms-1">trên {{shop.item.totalRating}} lượt đánh giá</span>
                                </a>
                                <button class="btn-wishlist" type="button" data-bs-toggle="tooltip" title="Add to wishlist"><i class="ci-heart"></i></button>
                            </div>
                            <div class="mb-3"><span class="h3 fw-normal text-accent me-1">{{shop.item.price|number}} <small>VND</small></span>
                                <del class="text-muted fs-lg me-3">$25.<small>00</small></del><span class="badge bg-danger badge-shadow align-middle mt-n2">Sale</span>
                            </div>
                            <div class="fs-sm mb-4">
                                <a href=""><span class="text-heading fw-medium me-1">{{shop.item.category}}</span></a> - 
                                <a href=""><span class="text-muted" id="colorOption">{{shop.item.subcategory}}</span></div></a>
                            <div class="position-relative me-n4 mb-3">
                                <div class="product-badge product-available mt-n1"><i class="ci-security-check"></i>Hàng có sẵn</div>
                            </div>
                            <form class="mb-grid-gutter">
                                <div class="mb-3">
                                    <label class="fw-medium pb-1" for="product-size">Số lượng</label>
                                </div>
                                <div class="mb-3 d-flex align-items-center">
                                    <select class="form-select me-3" style="width: 5rem;" ng-model="cart.select"  ng-init="cart.select='1'">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <button class="btn btn-primary btn-shadow d-block w-100" type="submit" ng-click="cart.addQ(shop.item)"><i class="ci-cart fs-lg me-2" ></i>Thêm vào giỏ hàng</button>
                                </div>
                            </form>
                            <span ng-if="shop.item.spec">
                                <h5 class="h6 mb-3 pb-2 border-bottom"><i class="ci-announcement text-muted fs-lg align-middle mt-n1 me-2"></i>Thông tin sản phẩm</h5>
                                <ul class="list-unstyled fs-sm pb-2">
                                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Model:</span><span>Amazfit Smartwatch</span></li>
                                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Gender:</span><span>Unisex</span></li>
                                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Smartphone app:</span><span>Amazfit Watch</span></li>
                                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">OS campitibility:</span><span>Android / iOS</span></li>
                                </ul>
                            </span>

                            <span>
                                <h5 class="h6 mb-3 pb-2 border-bottom"><i class="ci-announcement text-muted fs-lg align-middle mt-n1 me-2"></i>Thông tin sản phẩm</h5>
                                <ul class="list-unstyled fs-sm pb-2">
                                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Model:</span><span>Amazfit Smartwatch</span></li>
                                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Gender:</span><span>Unisex</span></li>
                                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Smartphone app:</span><span>Amazfit Watch</span></li>
                                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">OS campitibility:</span><span>Android / iOS</span></li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>