<div class="card card-outline card-danger">
    <div class="card-header text-center">
        <a [routerLink]="['/']" class="h1">Cellphone<b>S</b></a>
    </div>
    <div class="card-body">
        <h5 class="login-box-msg text-uppercase font-weight-bold">
            Quên mật khẩu
        </h5>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
            <div class="input-group mb-3">
                <input
                    formControlName="email"
                    type="email"
                    class="form-control"
                    placeholder="Email"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <app-button [type]="'submit'" [color]="'danger'" [block]="true">
                        Đặt lại mật khẩu
                    </app-button>
                </div>
            </div>
        </form>
        <p class="mt-3 mb-1">
            <a [routerLink]="['/login']" class="text-danger">Đăng nhập</a>
        </p>
    </div>
</div>
