<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 fw-bold text-uppercase text-primary fw-bold">Quản lý đơn hàng</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a class="text-decoration-none" [routerLink]="['/']" routerLinkActive="router-link-active">Trang chủ</a>
          </li>
          <li class="breadcrumb-item active">Đơn hàng</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card border-primary">
      <div class="card-header">
        <div class="row g-2">
          <div class="col-auto">
            <label [for]="'filter-active'" class="col-form-label">Trạng thái:</label>
          </div>
          <div class="col-md-auto col-sm-12 mt-0 mt-md-2">
            <select id="filter-category" class="form-select" [(ngModel)]="orderStatusCode" (change)="applyFilter()">
              <option [ngValue]="null">-- Tất cả --</option>
              <option *ngFor="let orderStatus of orderStatuses"
                      [ngValue]="orderStatus.code">{{orderStatus.status}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="card-body p-0">
        <div class="table-responsive p-3">
          <table datatable [dtOptions]="dtOptions"
                 class="table table-hover table-sm nowrap w-100">
            <thead class="table-primary">
            <tr>
              <th class="align-middle">Mã đơn hàng</th>
              <th class="align-middle">Tên khách hàng</th>
              <th class="align-middle">Địa chỉ</th>
              <th class="align-middle text-center">Số điện thoại</th>
              <th class="align-middle text-center">Ngày tạo đơn</th>
              <th class="align-middle text-center">Cập nhật bởi</th>
            </tr>
            </thead>
            <tbody *ngIf="orders?.length !== 0">
            <tr *ngFor="let order of orders; let i = index">
              <td class="align-middle">
                {{ order.orderCode }}
              </td>
              <td class="align-middle">
                {{ order.fullName }}
              </td>
              <td class="align-middle">
                {{ order.orderDetail.address }}
              </td>
              <td class="align-middle text-center">
              {{ order.orderDetail.tel }}
              </td>
              <td class="align-middle text-center">
                {{ order.createdAt | date: 'dd/MM/yyyy' }}
              </td>
              <td class="align-middle text-center">
                {{ order.modifiedBy ? order.modifiedBy : '-' }}
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="orders?.length === 0">
            <tr>
              <td colspan="7" class="text-center">Không tìm thấy kết quá</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
