<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 fw-bold text-uppercase text-primary fw-bold">Quản lý đơn hàng</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a class="text-decoration-none" [routerLink]="['/']" routerLinkActive="router-link-active">Trang chủ</a>
          </li>
          <li class="breadcrumb-item active">Đơn hàng</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card border-primary">
      <div class="card-header">
        <div class="row g-2">
          <div class="col-auto">
            <label [for]="'filter-active'" class="col-form-label">Trạng thái:</label>
          </div>
          <div class="col-md-auto col-sm-12 mt-0 mt-md-2">
            <select id="filter-category" class="form-select" [(ngModel)]="orderStatusCode" (change)="applyFilter()">
              <option [ngValue]="null">-- Tất cả --</option>
              <option *ngFor="let orderStatus of orderStatuses"
                      [ngValue]="orderStatus.code">{{orderStatus.status}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="card-body p-0">
        <div class="table-responsive p-3">
          <table datatable [dtOptions]="dtOptions"
                 class="table table-hover table-borderless table-sm nowrap w-100">
            <thead class="table-primary">
            <tr>
              <th class="align-middle">Mã đơn hàng</th>
              <th class="align-middle">Tên khách hàng</th>
              <th class="align-middle">Địa chỉ</th>
              <th class="align-middle text-center">Đơn giá</th>
              <th class="align-middle text-center">Ngày tạo đơn</th>
              <th class="align-middle text-center">Cập nhật bởi</th>
              <th class="align-middle" [ngClass]="orderStatusCode !== null ? 'd-none' : 'd-table-cell'">Trạng thái</th>
              <th class="align-middle text-end"></th>
            </tr>
            </thead>
            <tbody class="table-light" *ngIf="orders?.length !== 0">
            <tr *ngFor="let order of orders; let i = index">
              <td class="align-middle">
                {{ order.orderCode }}
              </td>
              <td class="align-middle">
                {{ order.fullName }}
              </td>
              <td class="align-middle">
                {{ order.orderDetail.address }}
              </td>
              <td class="align-middle text-center">
                {{ order.unitPrice | number:'1.0-0' }}₫
              </td>
              <td class="align-middle text-center">
                {{ order.createdAt | date: 'dd/MM/yyyy' }}
              </td>
              <td class="align-middle text-center">
                {{ order.modifiedBy ? order.modifiedBy : '-' }}
              </td>
              <td class="align-middle" [ngClass]="orderStatusCode !== null ? 'd-none' : 'd-table-cell'">
                <span class="badge"
                      [ngClass]="colorStatus(order.orderStatus.code)">{{ order.orderStatus.status }}</span>
              </td>
              <td class="align-middle text-end">
                <button type="button" class="btn btn-sm btn-info me-1" placement="top" tooltip="Chi tiết đơn hàng"
                        container="body"
                        (click)="getOrder(order)">
                  <i class="fas fa-pen-square"></i>
                </button>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="orders?.length === 0">
            <tr>
              <td colspan="8" class="text-center">Không tìm thấy kết quá</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #orderDetailModal>
  <div class="modal-header">
    <h4 id="order-detail-dialog" class="modal-title pull-left text-primary fw-bold">
      Chi tiết đơn hàng
    </h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #orderForm="ngForm">
      <div class="row">
        <div class="col-auto">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="fullname" [value]="order.fullName"
                   placeholder="example" readonly>
            <label [for]="'fullname'">Họ và tên</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="address" [value]="order.orderDetail.address"
                   placeholder="example" readonly>
            <label [for]="'address'">Địa chỉ</label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="tel" [value]="order.orderDetail.tel"
                   placeholder="example" readonly>
            <label [for]="'tel'">Số điện thoại</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" [value]="order.email"
                   placeholder="example" readonly>
            <label [for]="'email'">Email</label>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
