<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 fw-bold text-uppercase text-primary">Quản lý nhân viên</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a class="text-decoration-none" [routerLink]="['/']" routerLinkActive="router-link-active">Trang chủ</a>
          </li>
          <li class="breadcrumb-item active">Quản lý nhân viên</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card border-primary">
      <div class="card-header">
        <div class="row g-2">
          <div class="col-auto">
            <label [for]="'filter-active'" class="col-form-label">Trạng thái:</label>
          </div>
          <div class="col-md-auto col-sm-12 mt-0 mt-md-2">
            <select id="filter-active" class="form-select" [(ngModel)]="isActive" (change)="rerender()">
              <option [ngValue]="true">Hoạt động</option>
              <option [ngValue]="false">Chưa kích hoạt</option>
            </select>
          </div>
          <div class="col-auto">
            <label [for]="'filter-active'" class="col-form-label">Vai trò:</label>
          </div>
          <div class="col-md-auto col-sm-12 mt-0 mt-md-2">
            <select id="filter-active" class="form-select" [(ngModel)]="roleFilter" (change)="rerender()">
              <option [ngValue]="null">Tất cả</option>
              <option *ngFor="let role of roles" [ngValue]="role">{{role.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive p-3">
          <table datatable [dtOptions]="dtOptions" class="table table-hover table-borderless table-sm nowrap w-100">
            <thead class="table-primary">
            <tr>
              <th class="align-middle">Ảnh</th>
              <th class="align-middle">Tài khoản</th>
              <th class="align-middle">Họ và tên</th>
              <th class="align-middle">Vai trò</th>
              <th class="align-middle text-center">Ngày cập nhật</th>
              <th class="align-middle text-center">Cập nhật bởi</th>
              <th class="align-middle text-center">Lần đăng nhập cuối</th>
              <th class="align-middle"></th>
            </tr>
            </thead>
            <tbody class="table-light" *ngIf="users?.length !== 0">
            <tr *ngFor="let user of users; let i = index">
              <td class="align-middle">
                <div class="frame frame-50 img-thumbnail">
                  <img [src]="getSrc(user.avatar)" class="img-fluid">
                </div>
              </td>
              <td class="align-middle">
                {{ user.username }}
              </td>
              <td class="align-middle">
                {{ user.fullname }}
              </td>
              <td class="align-middle">
                <!--<span class="badge bg-primary">{{ user.authority.role.name }}</span>-->
                <select class="form-select form-select-table"
                        [(ngModel)]="user.authority.role.name" (change)="saveUser(user)">
                  <option *ngFor="let role of roles" [ngValue]="role.name">{{role.name}}</option>
                </select>
              </td>
              <td class="align-middle text-center">
                {{ user.modifiedAt | date: 'dd/MM/yyyy' }}
              </td>
              <td class="align-middle text-center">
                {{ user.modifiedBy }}
              </td>
              <td class="align-middle text-center">
                {{ user.lastLogin ? (user.lastLogin | date: 'dd/MM/yyyy HH:mm:ss') : '-' }}
              </td>
              <td class="align-middle">
                <div *ngIf="isActive" class="d-flex align-items-center justify-content-end">
                  <button type="button" class="btn btn-sm btn-info me-1" placement="top" tooltip="Sửa"
                          (click)="editUser(user)">
                    <i class="fas fa-pen-square"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-danger" (click)="changeActive(user)"
                          placement="top" tooltip="Xoá" container="body">
                    <i class="fa-solid fa-ban"></i>
                  </button>
                </div>
                <div *ngIf="!isActive">
                  <button type="button" class="btn btn-sm bg-success" (click)="changeActive(user)">
                    Kích hoạt
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="users?.length === 0">
            <tr>
              <td colspan="8" class="text-center">Không tìm thấy kết quá</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal -->
<div bsModal [config]="{backdrop: 'static'}" #userModal="bs-modal" id="brand-modal" class="modal fade" tabindex="-1"
     data-bs-focus="false" role="dialog" aria-labelledby="user-dialog">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="user-dialog" class="modal-title pull-left text-uppercase text-primary fw-bold">
          {{ user.id ? 'Cập nhật' : 'Thêm' }} nhân viên
        </h4>
        <button type="button" class="btn-close close pull-right"
                (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body pb-0">
        <form #userForm="ngForm">
          <div class="row">
            <div class="col-12 col-md-5">
              <div class="ratio ratio-1x1 mb-3">
                <div class="file-drop-area img-thumbnail">
                  <img [src]="avatarPreview" class="img-fluid" alt=" ">
                  <input type="file" name="file" class="file-drop-input" accept="image/*"
                         (change)="selectedImageChanged($event)">
                </div>
              </div>
            </div>
            <div class="col-12 col-md-7 d-block d-md-flex flex-column justify-content-center">
              <div class="mb-3">
                <label class="form-label" [for]="'username'">Tên đăng nhập</label>
                <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username"
                       #username="ngModel" required/>
                <div class="invalid-feedback" *ngIf="username.invalid && (username.dirty || username.touched)">
                  <span *ngIf="username.errors?.['required']">Vui lòng nhập tên đăng nhập</span>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" [for]="'fullname'">Họ và tên</label>
                <input type="text" class="form-control" id="fullname" name="fullname" [(ngModel)]="user.fullname"
                       #fullname="ngModel" required/>
                <div class="invalid-feedback" *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)">
                  <span *ngIf="fullname.errors?.['required']">Vui lòng nhập tên đăng nhập</span>
                </div>
              </div>
            </div>
            <div class="col-12 mb-3" *ngIf="!user.id">
              <label class="form-label" [for]="'password'">Mật khẩu</label>
              <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password"
                     #password="ngModel" required/>
              <div class="invalid-feedback" *ngIf="password.invalid && (password.dirty || password.touched)">
                <span *ngIf="password.errors?.['required']">Vui lòng nhập tên đăng nhập</span>
              </div>
            </div>
            <div class="col-12 mb-3" *ngIf="user.authority">
              <label class="form-label" [for]="'category'">Vai trò</label>
              <select id="category" class="form-select" name="category" [(ngModel)]="user.authority.role"
                      [compareWith]="compareFn" #category="ngModel" required>
                <option value="null">-- Chọn vai trò --</option>
                <option *ngFor="let role of roles" [ngValue]="role">{{role.name}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="category.invalid && (category.dirty || category.touched)">
                <span *ngIf="category.errors?.['required']">Vui lòng chọn một danh mục</span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" [disabled]="userForm.invalid"
                (click)="saveUser(user);">Lưu
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal - End -->
