/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';
@import '~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css';
@import '~admin-lte/dist/css/adminlte.min.css';

@import '~ngx-toastr/toastr';

body {
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

// CSS Custom - Start
.invalid-feedback {
    display: block;
}

.text-accent {
    color: #4e54c8 !important;
}

.icon {
    width: 25px;
}

.btn-icon {
    padding: 0.625rem 0.875rem;
}

.bg-faded-accent {
    background-color: rgba(78, 84, 200, .09) !important;
}

.bg-faded-info {
    background-color: rgba(105, 179, 254, .09) !important;
}

.bg-faded-danger {
    background-color: rgba(243, 71, 112, .09) !important;
}

.file-drop-area {
    position: relative;
    padding: 1rem 1rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 2px dashed #dae1e7;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}

.file-drop-area>img {
    width: 150px;
}

// CSS Custom - End

.user-menu>.nav-link {
    cursor: pointer;
}

.user-menu>.nav-link:after {
    content: none;
}

.user-menu>.dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
    width: 280px;
}

.user-menu>.dropdown-menu,
.user-menu>.dropdown-menu>.user-body {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.user-menu>.dropdown-menu>li.user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
}

.user-menu>.dropdown-menu>li.user-header>img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255, 255, 255, 0.2);
}

.user-menu>.dropdown-menu>li.user-header>p {
    z-index: 5;
    font-size: 17px;
    margin-top: 10px;
}

.user-menu>.dropdown-menu>li.user-header>p>small {
    display: block;
    font-size: 12px;
}

.user-menu>.dropdown-menu>.user-body {
    border-bottom: 1px solid #495057;
    border-top: 1px solid #dee2e6;
    padding: 15px;
}

.user-menu>.dropdown-menu>.user-body::after {
    display: block;
    clear: both;
    content: '';
}

@media (min-width: 576px) {
    .user-menu>.dropdown-menu>.user-body a {
        background: #ffffff !important;
        color: #495057 !important;
    }
}

.user-menu>.dropdown-menu>.user-footer {
    background-color: #f8f9fa;
    padding: 10px;
}

.user-menu>.dropdown-menu>.user-footer::after {
    display: block;
    clear: both;
    content: '';
}

.user-menu>.dropdown-menu>.user-footer .btn-default {
    color: #6c757d;
}

@media (min-width: 576px) {
    .user-menu>.dropdown-menu>.user-footer .btn-default:hover {
        background-color: #f8f9fa;
    }
}

.user-menu .user-image {
    border-radius: 50%;
    float: left;
    height: 2.1rem;
    margin-right: 10px;
    margin-top: -2px;
    width: 2.1rem;
}

@media (min-width: 576px) {
    .user-menu .user-image {
        float: none;
        line-height: 10px;
        margin-right: 0.4rem;
        margin-top: -8px;
    }
}

.user-menu .user-image {
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 0;
    margin-left: -8px;
}

.content {
    padding: 0 0.5rem;
}