@import "variable";
@import "bootstrap";

.bs-datepicker-head,
.bs-datepicker-head, .bs-datepicker button:active,
.bs-datepicker-body table td span.selected,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover {
  background-color: $primary !important;
}

.bs-datepicker-body table td.week span {
  color: $primary !important;
}

.table-responsive {
  .dataTables_empty {
    display: none;
  }
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;

  &.frame-50 {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
  }
}

.img-50 {
  min-width: 50px;
  min-height: 50px;
  width: 50px;
}

.invalid-feedback {
  display: block;
}

.text-accent {
  color: #4e54c8 !important;
}

.icon {
  width: 25px;
}

.btn-icon {
  padding: 0.625rem 0.875rem;
}

.bg-faded-accent {
  background-color: rgba(78, 84, 200, .09) !important;
}

.bg-faded-info {
  background-color: rgba(105, 179, 254, .09) !important;
}

.bg-faded-danger {
  background-color: rgba(243, 71, 112, .09) !important;
}

.bg-faded-cyan {
  background-color: rgba(0, 188, 212, .09) !important;
}

.bg-faded-success {
  background-color: rgba(76, 175, 80, .09) !important;
}

.bg-faded-warning {
  background-color: rgba(255, 152, 0, .09) !important;
}

.bg-faded-primary {
  background-color: rgba(0, 150, 136, .09) !important;
}

.bg-faded-secondary {
  background-color: rgba(0, 0, 0, .09) !important;
}

@media (max-width: 575.98px) {
  .w-sm-100 {
    width: 100%;
  }
}
