<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(  
	~{::title},
    ~{::modal_out},
    ~{::modal_in},
    ~{::#handheld},
    ~{::#content}
    )}">

<head>
    <title>Deskover: Đơn hàng</title>
</head>

<body id="content">
    <div id="modal">
    </div>
    <div id="content">
        <!-- Page Title-->
        <div class="page-title-overlap bg-dark pt-4" >
            <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
                <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                            <li class="breadcrumb-item"><a class="text-nowrap" th:href="@{/index}"><i class="ci-home"></i>Trang chủ</a></li>
                            <li class="breadcrumb-item text-nowrap"><a th:href="@{/account/profile}">Tài khoản</a>
                            </li>
                            <li class="breadcrumb-item text-nowrap active" aria-current="page">Đơn hàng</li>
                        </ol>
                    </nav>
                </div>
                <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
                    <h1 class="h3 text-light mb-0">Danh sách đơn hàng</h1>
                </div>
            </div>
        </div>
        <div class="container pb-5 mb-2 mb-md-4" ng-controller="accCtrl" ng-init="order.loadDatabase()">
            <div class="row">
                <!-- Sidebar-->
                <aside th:replace="components/user_sidebar.html :: component"></aside>
                <!-- Content  -->
                <section class="col-lg-8">
                    <!-- Toolbar-->
                    <div class="d-flex justify-content-between align-items-center pt-lg-2 pb-4 pb-lg-5 mb-lg-3">
                        <div class="d-flex align-items-center">
                          <label class="d-none d-lg-block fs-sm text-light text-nowrap opacity-75 me-2" for="order-sort">Bộ lọc:</label>
                          <label class="d-lg-none fs-sm text-nowrap opacity-75 me-2" for="order-sort">Bộ lọc:</label>
                          <select class="form-select" id="order-sort" ng-model="order.filter" ng-change="order.loadDatabase()">
                            <option value="0">Tất cả</option>
                            <option value="1">Đã giao</option>
                            <option value="2">Đang xử lý</option>
                            <option value="3">Đã thanh toán</option>
                            <option value="4">Chưa thanh toán</option>
                          </select>
                        </div>
                      </div>
                    <!-- Orders list-->
                    <div class="table-responsive fs-md mb-4">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Mã đơn #</th>
                                    <th>Đã giao</th>
                                    <th>Chưa giao</th>
                                    <th>Thanh toán</th>
                                    <th>Tổng giá trị</th>
                                    <th>Hủy Đơn hàng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="o in order.list" >
                                    <td class="py-3" ng-click="order.detail(o.id)">{{o.id}}</td>
                                    <td class="py-3" ng-click="order.detail(o.id)">{{o.orderDate}}</td>
                                    <td class="py-3" ng-click="order.detail(o.id)"><span class="badge m-0" ng-class="o.osCode === 'GH-TB' || o.osCode === 'C-HUY' || o.osCode === 'HUY' || o.osCode === 'GH-TB' ?'bg-danger':(o.osCode === 'GH-TC'?'bg-success':(o.osCode === 'LH-TB'?'bg-warning':'bg-info'))">{{o.orderStatus}}</span></td>
                                    <td class="py-3" ng-click="order.detail(o.id)"><span class="badge m-0" ng-class="o.psCode === 'C-TT'?'bg-danger':(o.psCode === 'D-TT'?'bg-success':(o.psCode === 'C-HT'?'bg-warning':'bg-info'))">{{o.paymentStatus}}</span></td>
                                    <td class="py-3" ng-click="order.detail(o.id)">{{o.total|number}} <small>VND</small></td>
                                    <td> <button type="button" class="btn btn-info"  ng-click="cancel2(o.id)">Hủy đơn hàng</button> </td>
                                </tr>
                          
                            </tbody>
                        </table>
                    </div>
                    <!-- Pagination-->
                    <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation" ng-if="order.totalPage>1">
                        <ul class="pagination">
                            <li class="page-item"><button class="page-link" ng-click="order.changePage(order.currentPage-1)" href="#"><i class="ci-arrow-left me-2"></i>Trang Trước</button></li>
                        </ul>
                        <ul class="pagination">
                            <li class="page-item d-sm-none"><span class="page-link page-link-static">{{order.currentPage+1}} / {{order.totalPage}}</span></li>
                            <li class="page-item d-none d-sm-block" ng-repeat="p in [].constructor(order.totalPage) track by $index" aria-current="page" ng-class="order.currentPage === $index ? 'active':''">
                                <span class="page-link" ng-if="order.currentPage == $index">{{$index+1}}<span class="visually-hidden">(current)</span></span>
                                <button class="page-link" ng-if="order.currentPage != $index" ng-click="order.changePage($index)">{{$index+1}}</button>
                            </li>
                        </ul>
                        <ul class="pagination">
                            <li class="page-item"><button class="page-link" href="#" ng-click="order.changePage(order.currentPage+1)" aria-label="Next">Trang Sau<i class="ci-arrow-right ms-2"></i></button></li>
                        </ul>
                    </nav>
                </section>
            </div>
        </div>
    </div>

    <div id="handheld" th:remove="tag">
        <!-- Toolbar for handheld devices (Default)-->
        <div th:replace="components/handhelds/normal.html :: handheld"></div>
    </div>

</body>

</html>