<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(  
        ~{::title},
        ~{::modal_out},
        ~{::modal_in},
        ~{::#handheld},
        ~{::#content}
    )}">

<head>
  <title>Deskover: Chi tiết giỏ hàng</title>
</head>
<body>
  <div id="modal_out"></div>
  <div id="modal_in"></div>
  <div id="content">
    <!-- Page Title-->
    <div class="page-title-overlap bg-dark pt-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
              <li class="breadcrumb-item"><a class="text-nowrap" href="index.html"><i class="ci-home"></i>Home</a></li>
              <li class="breadcrumb-item text-nowrap"><a href="shop-grid-ls.html">Shop</a>
              </li>
              <li class="breadcrumb-item text-nowrap active" aria-current="page">Checkout</li>
            </ol>
          </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
          <h1 class="h3 text-light mb-0">Checkout</h1>
        </div>
      </div>
    </div>
    <!-- Address form -->
    <form method="post" th:action="@{/ok}" th:object="${addressForm}">
    <div class="container pb-5 mb-2 mb-md-4">
      <div class="row">
        <section class="col-lg-8">
          <div class="d-flex justify-content-between align-items-center pt-3 pb-4 pb-sm-5 mt-1">
            <h2 class="h6 text-light mb-0">Sản phẩm</h2><a class="btn btn-outline-primary btn-sm ps-2" href="shop-grid-ls.html"><i class="ci-arrow-left me-2"></i>Tiếp tục mua sắm</a> </div>
         	  <!-- Shipping address-->       
	          <h2 class="h6 pt-1 pb-3 mb-3 border-bottom">Địa chỉ</h2>
	          <div class="row">
	            <div class="col-sm-6">
	              <div class="mb-3">
	                <label class="form-label" for="checkout-fn" >Full Name</label>
	                <input class="form-control" type="text" id="checkout-fn" name="fullname" >
	              </div>
	            </div>
	            <div class="col-sm-6">
	              <div class="mb-3">
	                <label class="form-label" for="checkout-ln">Last Name</label>
	                <input class="form-control" type="text" id="checkout-ln">
	              </div>
	            </div>
	          </div>
	          <div class="row">
	            <div class="col-sm-6">
	              <div class="mb-3">
	                <label class="form-label" for="checkout-email">E-mail Address</label>
	                <input class="form-control" type="email" id="checkout-email" name="email">
	              </div>
	            </div>
	            <div class="col-sm-6">
	              <div class="mb-3">
	                <label class="form-label" for="checkout-phone">Phone Number</label>
	                <input ng-model="form.tel" class="form-control" type="text" id="checkout-phone" name = "tel">
	              </div>
	            </div>
	          </div>
	          <div class="row">
	            <div class="col-sm-6">
	              <div class="mb-3">
	                <label class="form-label" for="checkout-city" >Province</label>
	                <select name="province" class="form-select" id="checkout-city" ng-model="form.province" ng-change="change()">
	                  <option ng-selected="form.province == item.name" ng-repeat="item in province" ng-value="item.name">{{item.name}}</option>
	                </select>
	              </div>
	            </div>
        	    <div class="col-sm-6">
	              <div class="mb-3">
	                <label class="form-label" for="checkout-company">District</label>
	                <select name="district" class="form-select" id="checkout-city" ng-model="form.district" ng-change="change2()">
	                  <option name = "district" ng-selected="form.district == item.name" ng-repeat="item in district" ng-value="item.name">{{item.name}}</option>
	                </select>
	              </div>
	            </div>
	          </div>
	          <div class="row">
	            <div class="col-sm-6">
	              <div class="mb-3">
	                <label class="form-label" for="checkout-address-2">Address</label>
	                <input class="form-control" type="text" id="checkout-address-2" name = "address">
	              </div>
	            </div>
	            <div class="col-sm-6">
	              <div class="mb-3">
	                <label class="form-label" for="checkout-zip">ZIP Code</label>
	                <input class="form-control" type="text" id="checkout-zip">
	              </div>
	            </div>
	          </div>
	          <div class="row">
	            <div class="col-sm-6">
	              <div class="mb-3">
	                <label class="form-label" for="checkout-address-1">Country</label>
	                <input class="form-control" type="text" id="checkout-address-1" name = "country">
	              </div>
	            </div>
	            <div class="col-sm-6">
	              <div class="mb-3">
	                <label class="form-label" for="checkout-company">Ward</label>
	                <input class="form-control" type="text" id="checkout-company" name="ward">
	              </div>
	            </div>
	          </div>
	          <!-- Shipping address-->  
	          <hr>
        </section>
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
          <div class="bg-white rounded-3 shadow-lg p-4 ms-lg-auto">
            <div class="py-2 px-xl-2">
              <div class="widget mb-3">
                <h2 class="widget-title text-center">Order summary</h2>
                <div class="widget-cart-item pb-2 border-bottom" ng-repeat="item in cart.items">
	                <div class="d-flex align-items-center pb-2 border-bottom"><a class="d-block flex-shrink-0" href="shop-single-v1.html"><img ng-src="{{item.imgUrl}}" width="64" alt="Product"></a>
	                  <div class="ps-2">
	                    <h6 class="widget-product-title"><a href="shop-single-v1.html">{{item.name}}</a></h6>
	                    <div class="widget-product-meta"><span class="text-accent me-2">{{item.price|number}} <small>VND</small></span><span class="text-muted">x{{item.amount}}</span></div>
	                  </div>
	                </div>
                </div>
              </div>
              <ul class="list-unstyled fs-sm pb-2 border-bottom">
                <li class="d-flex justify-content-between align-items-center"><span class="me-2">Subtotal:</span><span class="text-end">{{cart.total|number}}<small> VNĐ </small></span></li>
                <li class="d-flex justify-content-between align-items-center"><span class="me-2">Shipping:</span><span class="text-end">{{ship.fee.fee|number}} <small> VNĐ </small> </span></li>
                <li class="d-flex justify-content-between align-items-center"><span class="me-2">Taxes:</span><span class="text-end">100,000 <small> VNĐ </small></span></li>
                <li class="d-flex justify-content-between align-items-center"><span class="me-2">Discount:</span><span class="text-end">0 <small> VNĐ </small></span></li>
              </ul>
              <h3  class="fw-normal text-center my-4"> <input type="hidden" readonly style="border: none; outline: none; text-align: center; " th:object="${Total}" name = "Total" value="{{cart.total + ship.fee.fee}}"></h3>
              <h3  class="fw-normal text-center my-4"> {{cart.total + ship.fee.fee |number}}<small>VNĐ</small></h3>
              <form class="needs-validation" method="post" novalidate>
                <div class="mb-3">
                  <input class="form-control" type="text" placeholder="Promo code" >
                  <div class="invalid-feedback">Please provide promo code.</div>
                </div>
                <button class="btn btn-outline-primary d-block w-100" type="submit">Apply promo code</button> <br>
              </form>
              </div>
              <button  class="btn btn-primary btn-shadow d-block w-100 mt-4"><i class="fs-lg me-2"></i>Checkout <i class="ci-arrow-right mt-sm-0 ms-1"></i></button>
            </div>
         </aside>
         </div>
      </div>
      </form>
      <div class="container pb-5 mb-2 mb-md-4">
      <div class="row">
	  <section class="col-lg-8">
		  <h2 class="h6 pb-3 mb-2 ">Choose payment method</h2>
	      <div class="accordion mb-2 "  id="payment-method">
	      <div class="accordion-item ">
	        <h3 class="accordion-header"><a class="accordion-button" href="#card" data-bs-toggle="collapse"><i class="ci-card fs-lg me-2 mt-n1 align-middle"></i>Pay with ATM credit cards (VNPay) </a></h3>
	        <div class="accordion-collapse collapse hide" id="card" data-bs-parent="#payment-method">
	          <div class="accordion-body">
	            <p class="fs-sm">We accept following credit cards:&nbsp;&nbsp;<img class="d-inline-block align-middle" src="img/cards.png" width="187" alt="Cerdit Cards"></p>
	            <div class="credit-card-wrapper"></div>
	           <form action="/vnpayajax" id="frmCreateOrder" method="post">        
	            <div class="form-group">
	                <label for="amount" class="form-label">Tổng số tiền cần thanh toán</label>
	                <input class="form-control" data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." id="amount" max="100000000" min="1" name="amount" type="number" value="{{cart.total}}" />
	            </div>
	            <div class="form-group">
	                <label class="form-label" for="OrderDescription">Nội dung thanh toán</label>
	                <textarea class="form-control" cols="20" id="vnp_OrderInfo" name="vnp_OrderInfo" rows="2" placeholder="Nhập nội dung cho đơn hàng của bạn"></textarea>
	            </div>
	            <div class="form-group">
	                <label class="form-label" for="bankcode">Ngân hàng</label>
	                <select name="bankcode" id="bankcode" class="form-control">
	                    <option value="">Không chọn </option>
	                    <option value="VNPAYQR">VNPAYQR</option>
	                    <option value="MBAPP">MBAPP</option>
	                    <option value= "INTCARD">INTCARD</option>
	                    <option value= "VNBANK">VNBANK</option>
	                    <option value= "VNPAYEWALLET">VNPAYEWALLET</option> 
	                    <option value="NCB">  	Ngan hang NCB</option>
	                    <option value="SACOMBANK">Ngan hang SacomBank  </option>
	                    <option value="EXIMBANK"> 	Ngan hang EximBank </option>
	                    <option value="MSBANK"> 	Ngan hang MSBANK </option>
	                    <option value="NAMABANK"> 	Ngan hang NamABank </option>
	                    <option value="VISA">  	Thanh toan qua VISA/MASTER</option>
	                    <option value="VNMART">  	Vi dien tu VnMart</option>
	                    <option value="VIETINBANK">Ngan hang Vietinbank  </option>
	                    <option value="VIETCOMBANK"> 	Ngan hang VCB </option>
	                    <option value="HDBANK">Ngan hang HDBank</option>
	                    <option value="DONGABANK">  	Ngan hang Dong A</option>
	                    <option value="TPBANK"> 	Ngân hàng TPBank </option>
	                    <option value="OJB">  	Ngân hàng OceanBank</option>
	                    <option value="BIDV"> Ngân hàng BIDV </option>
	                    <option value="TECHCOMBANK"> 	Ngân hàng Techcombank </option>
	                    <option value="VPBANK"> 	Ngan hang VPBank </option>
	                    <option value="AGRIBANK"> 	Ngan hang Agribank </option>
	                    <option value="MBBANK"> 	Ngan hang MBBank </option>
	                    <option value="ACB"> Ngan hang ACB </option>
	                    <option value="OCB"> Ngan hang OCB </option>
	                </select>
	                
	            </div>
	            <button type="submit" class="btn btn-default  btn btn-outline-primary d-block w-100 mt-0">Pay on wallet</button>
	       	  </form>  
	          </div>
	        </div>
	      </div>
	      </div>   
	      <!-- Navigation (desktop)-->
	      <div class="d-none d-lg-flex pt-4 mt-3 container pb-5 mb-2 mb-md-4 ">
	        <div class="w-50 pe-3"><a class="btn btn-secondary d-block w-100" href="/cart"><i class="ci-arrow-left mt-sm-0 me-1"></i><span class="d-none d-sm-inline">Back to Cart</span><span class="d-inline d-sm-none">Back</span></a></div>
	        <div class="w-50 ps-2"><a class="btn btn-primary d-block w-100"><span class="d-none d-sm-inline">Process checkout</span><span class="d-inline d-sm-none">Next</span><i class="ci-arrow-right mt-sm-0 ms-1"></i></a></div>
	      </div>
	  </section>
	  </div>
      <!-- Navigation (mobile)-->
      <div class="row d-lg-none">
        <div class="col-lg-8">
          <div class="d-flex pt-4 mt-3">
            <div class="w-50 pe-3"><a class="btn btn-secondary d-block w-100" href="/cart"><i class="ci-arrow-left mt-sm-0 me-1"></i><span class="d-none d-sm-inline">Back to Cart</span><span class="d-inline d-sm-none">Back</span></a></div>
            <div class="w-50 ps-2"><a class="btn btn-primary d-block w-100" href="checkout-shipping.html"><span class="d-none d-sm-inline">Proceed to Shipping</span><span class="d-inline d-sm-none">Next</span><i class="ci-arrow-right mt-sm-0 ms-1"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    </div>
</body>
</html>
<script src="/assets/main.js"></script>

     


    