<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(  
        ~{::title},
        ~{::modal_out},
        ~{::modal_in},
        ~{::#handheld},
        ~{::#content}
    )}">
 
<head>
  <title>Deskover: Đặt hàng thành công</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>OK</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,900" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" th:href="@{/css/theme.error.css}" />

 </head>

 <body>
    <div id="modal_out"></div>
    <div id="modal_in"></div>
    <div id="content">
	  <div class="container pb-5 mb-sm-4">
	     <div class="pt-5">
	       <div class="card py-3 mt-sm-3">
	         <div class="card-body text-center">
	           <h2 class="h4 pb-3">Cảm ơn vì đã mua hàng tại deskover!</h2>
	           <p class="fs-sm mb-2">Đơn hàng của bạn đang chờ xử lí</p>
	           <p class="fs-sm mb-2">Hãy đảm bảo đia chỉ email của bạn đúng <span class='fw-medium'>34VB5540K83.</span></p>
	           <p class="fs-sm">Vui lòng kiểm tra email của bạn về tình trạng đơn hàng. <a href="/invoice">Kiểm tra hóa đơn</a></p><a class="btn btn-secondary mt-3 me-3" href="/shop">Hủy đơn hàng</a><a class="btn btn-primary mt-3" href="order-tracking.html"><i class="ci-location"></i>&nbsp;Track order</a>
	         </div>
	       </div>
	     </div>
	  </div>
	</div>
 </body>
</html>


