<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(  
        ~{::title},
        ~{::#modal_out},
        ~{::#modal_in},
        ~{::#handheld},
        ~{::#content}
    )}">

<head>
    <title>Deskover: tìm kiếm</title>
</head>

<body>
    <div id="modal_out" th:remove="tag">

    </div>
    <div id="modal_in" th:remove="tag">
    </div>
    <div id="content" th:remove="tag">
        <!-- Page Title-->
        <div class="page-title-overlap bg-dark pt-4">
            <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
                <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                            <li class="breadcrumb-item"><a class="text-nowrap" href="index.html"><i class="ci-home"></i>Trang chủ</a></li>
                            </li>
                            <li class="breadcrumb-item text-nowrap active" aria-current="page">Cửa hàng</li>
                        </ol>
                    </nav>
                </div>
                <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
                    <h1 class="h3 text-light mb-0">Tìm kiếm</h1>
                </div>
            </div>
        </div>
        <div class="container pb-5 mb-2 mb-md-4" ng-controller="shopCtrl" id="shopCtrl" ng-init="shop.init()">
            <!-- Quick View Modal-->
            <th:block th:replace="components/modal/quick_view.html :: modal"></th:block>
            <div class="row">
                <!-- Sidebar-->
                <aside class="col-lg-4">
                    <!-- Sidebar-->
                    <div class="offcanvas offcanvas-collapse bg-white w-100 rounded-3 shadow-lg py-1" id="shop-sidebar" style="max-width: 22rem;">
                        <div class="offcanvas-header align-items-center shadow-sm">
                            <h2 class="h5 mb-0">Bộ lọc</h2>
                            <button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body py-grid-gutter px-lg-grid-gutter">
                            <!-- Categories-->
                            <div class="widget widget-categories mb-4 pb-4 border-bottom">
                                <h3 class="widget-title">Danh mục</h3>
                                <div class="accordion mt-n1" id="shop-categories">
                                    <!-- Category-->
                                    <div class="accordion-item" ng-repeat="category in shop.categories" repeat-directive>
                                        <h3 class="accordion-header"><a class="accordion-button collapsed" href="#{{category.slug}}" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="{{category.slug}}">{{category.name}}</a></h3>
                                        <div class="accordion-collapse collapse" id="{{category.slug}}" data-bs-parent="#shop-categories">
                                            <div class="accordion-body">
                                                <div class="widget widget-links widget-filter">
                                                    <div class="input-group input-group-sm mb-2">
                                                        <input class="widget-filter-search form-control rounded-end" type="text" placeholder="Search"><i class="ci-search position-absolute top-50 end-0 translate-middle-y fs-sm me-3"></i>
                                                    </div>
                                                    <ul class="widget-list widget-filter-list pt-1" style="height: 12rem;" data-simplebar data-simplebar-auto-hide="false">
                                                        <li class="widget-list-item widget-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" href="" ng-click="shop.filter.categoryToggleSelection(category.slug,'')"><span class="widget-filter-item-text">Tất cả</span></a></li>
                                                        <li class="widget-list-item widget-filter-item" ng-repeat="subcategory in category.subcategories">
                                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="" ng-click="shop.filter.categoryToggleSelection('',subcategory.slug)">
                                                                <span class="widget-filter-item-text">{{subcategory.name}}</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Price range-->
                            <div class="widget mb-4 pb-4 border-bottom">
                                <h3 class="widget-title">Khoảng giá 
                                    <div th:text="${session.sessionValue}">0</div>
                                </h3>
                                <div class="range-slider" data-start-min="0" data-start-max="50000000" data-min="0" data-max="50000000" data-step="1000">
                                    <div class="range-slider-ui"></div>
                                    <div class="pb-1">
                                        <div class="w-100 mb-2">
                                            <div class="input-group input-group-sm"><span class="input-group-text" style="width: 50px;">TỪ</span>
                                                <input class="form-control range-slider-value-min" type="text">
                                            </div>
                                        </div>
                                        <div class="w-100">
                                            <div class="input-group input-group-sm"><span class="input-group-text" style="width: 50px;">ĐẾN</span>
                                                <input class="form-control range-slider-value-max" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Filter by Brand-->
                            <div class="widget widget-filter mb-4 pb-4 border-bottom">
                                <h3 class="widget-title">Thương hiệu</h3>
                                <div class="input-group input-group-sm mb-2">
                                    <input class="widget-filter-search form-control rounded-end pe-5" type="text" placeholder="Search">
                                    <i class="ci-search position-absolute top-50 end-0 translate-middle-y fs-sm me-3"></i>
                                </div>
                                <ul class="widget-list widget-filter-list list-unstyled pt-1" style="max-height: 11rem;" data-simplebar data-simplebar-auto-hide="false">
                                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1" ng-repeat="brand in shop.brands">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="{{brand.slug}}" id="{{brand.slug}}" ng-checked="shop.filter.brands.indexOf(brand.slug) > -1" ng-click="shop.filter.brandsToggleSelection(brand.slug)">
                                            <label class="form-check-label widget-filter-item-text" for="{{brand.slug}}">{{brand.name}}</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
                <!-- Content  -->
                <section class="col-lg-8">
                    <!-- Toolbar-->
                    <div class="d-flex justify-content-center justify-content-sm-between align-items-center pt-2 pb-4 pb-sm-5">
                        <div class="d-flex flex-wrap">
                            <div class="d-flex align-items-center flex-nowrap me-3 me-sm-4 pb-3">
                                <label class="text-light opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block" for="sorting">Theo:</label>
                                <select class="form-select" id="sorting" ng-model="shop.filter.sort" ng-change="shop.loadItems()">
                                    <option value="1">Giá thấp đến cao</option>
                                    <option value="2">Giá cao đến thấp</option>
                                    <option value="3">Đánh giá tốt</option>
                                    <option value="4">Thứ tự A - Z</option>
                                    <option value="5">Thứ tự Z - A</option>
                                </select><span class="fs-sm text-light opacity-75 text-nowrap ms-2 d-none d-md-block">trên {{shop.totalItems}} sản phẩm</span>
                            </div>
                        </div>
                    </div>
                    <!-- Products grid-->

                    <!-- Products grid-->
                    <div class="row mx-n2 repeated-item">
                        <!-- Product-->
                        <div class="col-md-4 col-sm-6 px-2 mb-4" ng-repeat="item in shop.items">
                            <div class="card product-card">
                                <span class="badge bg-danger badge-shadow" ng-if="item.sale">
                                    <img width="20" height="20" class=" ls-is-cached lazyloaded" alt="Giảm sốc" data-src="https://cdn.tgdd.vn/2020/10/content/icon1-50x50.png" src="https://cdn.tgdd.vn/2020/10/content/icon1-50x50.png">
                                    Giảm sốc
                                </span>
                                
                                
                                <button class="btn-wishlist btn-sm" ng-class="wishlist.list.includes(item.slug) ? 'bg-danger' : ''"  ng-click="wishlist.change(item.slug)" sec:authorize="isAuthenticated()">
                                    <i aria-hidden="true" ng-class="wishlist.list.includes(item.slug) ? 'fa fa-heart text-light' : 'fa fa-heart-o'"></i>
                                </button>
                                <a class="card-img-top d-block overflow-hidden"  th:href="@{/shop/item?p={{item.slug}}}">
                                    <img src="{{'/img/shop/products/' + item.imgUrl}}" alt="{{item.slug}}"></a>
                                <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">{{item.category}}</a>
                                    <h3 class="product-title fs-sm"><a th:href="@{/shop/item?p=item.slug}">{{item.name}}</a></h3>
                                    <div class="d-flex justify-content-between">
                                        <div class="product-price" ng-if="!item.sale">
                                            <span class="text-accent">{{item.price|number}} <small>VND</small></span>
                                        </div>
                                        <div class="product-price" ng-if="item.sale">
                                            <del class="fs-sm text-muted">{{item.price|number}} <small>VND</small></del>
                                            <br>
                                            <span class="text-accent">{{item.price_sale|number}} <small>VND</small></span> 
                                        </div>
                                        <div class="star-rating">
                                            <br ng-if="item.sale>0">
                                            <span ng-repeat="p in [].constructor(item.rating) track by $index">
                                                <i class="star-rating-icon ci-star-filled active"></i>
                                            </span>
                                            <span  ng-repeat="p in [].constructor(5-item.rating) track by $index">
                                                <i class="star-rating-icon ci-star"></i>
                                            </span>                                   
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body card-body-hidden">
                                    <button class="btn btn-primary btn-sm d-block w-100 mb-2" type="button" ng-click="cart.add(item)"><i class="ci-cart fs-sm me-1"></i>Thêm vào giỏ hàng</button>
                                    <div class="text-center"><a class="nav-link-style fs-ms" href="#quick-view" data-bs-toggle="modal" ng-click="shop.quickView(item.slug)"><i class="ci-eye align-middle me-1"></i>Xem nhanh</a></div>
                                </div>
                            </div>
                            <hr class="d-sm-none">
                        </div>
                        <div ng-if="shop.items.length == 0">
                            <div class="text-center w-100">
                                <div>Không tìm thấy sản phẩm nào</div>
                                <br>
                                <img width="500px" th:src="@{/img/not-found.png}" alt="">
                            </div>
                        </div>
                    </div>
                    <hr class="my-3">
                    <!-- Pagination-->
                    <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation" ng-if="shop.totalPage > 1">
                        <ul class="pagination">
                            <li class="page-item"><button class="page-link" aria-label="Trở về trước một trang" ng-click="shop.filter.changePage(shop.filter.currentPage-1)"><i class="ci-arrow-left me-2"></i>Về trước</a></li>
                        </ul>
                        <ul class="pagination">
                            <li class="page-item d-sm-none"><span class="page-link page-link-static">{{shop.filter.currentPage+1}} / {{shop.totalPage}}</span></li>
                            <li class="page-item d-none d-sm-block" ng-attr-aria-current="{{shop.filter.currentPage === $index ? 'active':''}}" ng-class="shop.filter.currentPage === $index ? 'active':''" ng-repeat="p in [].constructor(shop.totalPage) track by $index">
                                <span class="page-link" ng-if="shop.filter.currentPage === $index">{{ $index+1 }}<span class="visually-hidden">(current)</span></span>
                                <button class="page-link" href="#" ng-if="shop.filter.currentPage != $index" ng-click="shop.filter.changePage($index)">{{ $index+1 }}</button>
                            </li>
                        </ul>
                        <ul class="pagination">
                            <li class="page-item"><button class="page-link" aria-label="Tiến tới thêm một trang" ng-click="shop.filter.changePage(shop.filter.currentPage+1)">Tiếp theo<i class="ci-arrow-right ms-2"></i></button></li>
                        </ul>
                    </nav>
                </section>
            </div>
        </div>
    </div>
    </div>
    <div id="handheld" th:remove="tag">
        <!-- Toolbar for handheld devices (Shop)-->
        <div class="handheld-toolbar ha">
            <div class="d-table table-layout-fixed w-100"><a class="d-table-cell handheld-toolbar-item" href="#" data-bs-toggle="offcanvas" data-bs-target="#shop-sidebar"><span class="handheld-toolbar-icon"><i class="ci-filter-alt"></i></span><span class="handheld-toolbar-label">Filters</span></a>
                <a class="d-table-cell handheld-toolbar-item" href="account-wishlist.html"><span class="handheld-toolbar-icon"><i class="ci-heart"></i></span><span class="handheld-toolbar-label">Wishlist</span></a><a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i class="ci-menu"></i></span><span class="handheld-toolbar-label">Menu</span></a><a class="d-table-cell handheld-toolbar-item" href="shop-cart.html"><span class="handheld-toolbar-icon"><i class="ci-cart"></i><span class="badge bg-primary rounded-pill ms-1">4</span></span><span class="handheld-toolbar-label">$265.00</span></a>
            </div>
        </div>
    </div>


</body>

</html>